<% provide(:title, 'Shops') %>
<h1>Shops</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:shop, url: shops_path) do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :postalcode %>
      <%= f.text_field :postalcode %>

      <%= f.submit "Novo Registo", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
