<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "recibos online", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",      root_path %></li>
              <li><%= link_to "Contactos", contactos_path %></li>
              <li><%= link_to "Lojas",     lojas_path %></li>
              <li><%= link_to "Pesquisa", pesquisa_path%></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>